body {
    background: #f2ebc2;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#info {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #f2ebc2;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
}

#container {
    display: none;
}
#loadingScreen {
    display: block;
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-align: center;
}
h3 {
    color: rgb(95, 95, 95);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    border-top: 2px black solid;
    height: 41px;
}

#github {
    background-color: white;
    padding: 5px 35px 5px 35px;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    top: 0px;
    border-bottom: 2px grey solid;
}

.class {
    clear: both;
}

nav h1 {
    float: left;
    margin-left: 10px;
}

#menu-btn {
    font-size: 22px;
    padding: 20px 20px 0px 20px;
    margin-left: 30px;
    margin-top: 0px;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
    padding-bottom: 22px;
    float: left;
}
#container {
    padding-top: 60px;
}
