body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f2ebc2;
}
#info {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #f2ebc2;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: left;
    z-index: 4;
}

#container {
    display: none;
}
#loadingScreen {
    display: block;
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-align: center;
}
h3 {
    color: rgb(95, 95, 95);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.footer {
    color: rgb(0, 183, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    height: 61px;
    z-index: 4;
    font-weight: bold;
}

/* #github {
    background-color: #f2ebc2;
    padding: 5px 35px 5px 35px;
    border: 2px black solid;
    margin-bottom: 0;
} */

nav {
    background-color: #f2ebc2;
    /* width: 100%;
    position: absolute;
    top: 0px;
    border-bottom: 2px grey solid;
    z-index: 0; */
}

.class {
    clear: both;
}

nav h1 {
    float: left;
    margin-left: 10px;
}

#menu-btn {
    font-size: 22px;
    padding: 20px 20px 0px 20px;
    margin-left: 30px;
    margin-top: 0px;
    border-left: 2px grey solid;
    border-right: 2px grey solid;
    padding-bottom: 22px;
    float: left;
}
#content-container {
    padding-top: 60px;
    display: none;
    position: relative;
    top: -70px;

    z-index: 1;
    background-color: rgba(255, 255, 255, 0.01);
}
#content {
    position: absolute;

    padding: 2px 4px 2px 4px;
    z-index: 2;
}
